.border-left-bottom{
   border-bottom-left-radius: 50px;
}
.card{
   background-color: blue;
}


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{

}
body h1, h2, .navbar-brand{
   font-family: 'Dancing Script', cursive;
}
/* header */
header nav{
   background-color: #222831;
   backdrop-filter: blur(10px);
}
header .navbar .navbar-nav{
   margin-left: 200px;
}
/* intro */
#intro{
   min-height: 100vh;
   background-image: url('/images/hero-bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
#intro .intro_title{
   font-size: 50px;
}
#intro .wrapper{
   padding-top: 330px;
}

/* Offer */
#offer{
   min-height: 100vh;
   padding: 100px 0;
}
#offer .discount-card{
   background-color: #222831;
}
#offer .discount-card img{
   width: 150px;
   height: 150px;
}
#offer .row .card-image{
   background: #F1F2F3;
}
#about{
   min-height: 60vh;
   padding: 100px 0;
}
#book{
   min-height: 60vh;
   padding: 100px 0;
}
#client image img{
   top: -50px;
   left: 0;
}